* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /* border: 1px solid blue; */
}

.main-box {
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F1F3D;
  color: #FFFFFF;
}

.header-search-box {
  width: 30%;
  margin: 10px;
  display: flex;
}

.header-search-button {
  width: 57px;
  height: 57px;
  border: 0;
  background-color: #C7D3D8;
  border-radius: 3px 0 0 3px;
}

.header-search-input {
  font-size: 125%;
  padding: 15px;
  width: 89%;
  border: 0;
  border-radius: 0 3px 3px 0;
}

.header-search-icon {
 fill: #C7D3D8;
 height: 30px;
 width: 30px;
 margin: auto;
}

h1 {
  margin: 20px 19px;
  font-size: 282%;
  font-weight: 800;
}

span {
  color: #FFC30C;
}

aside {
  background-color: #587A8A;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.5%;
  height: 1250px;
  border: 2px solid #3C6577;
}

.aside-task-form {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin-top: 37px;
}

.aside-task-form-labels {
  color: #C7D3D8;
  padding: 1%;
  margin-bottom: 4px;
  font-size: 126%;
  font-weight: 700;
}

.aside-task-title-input {
  font-size: 172%;
  padding: 2.4%;
  border: 2px solid #1F1F3D;
  border-radius: 3px;
}

.aside-added-task-box {
  display: flex;
  color: #C7D3D8;
  width: 89%;
  font-size: 169%;
  font-weight: 400;
  margin: 27px auto;
  align-items: flex-start;
}

.aside-added-task-icon-x {
  margin: 6px 10px;
  height: 30px;
  width: 30px;
}

.aside-task-item-and-button-container {
  border: 2px solid #1F1F3D;
  border-radius: 3px;
  display: flex;
  margin-bottom: 25px;
}

.aside-task-item-input {
  font-size: 172%;
  padding: 2.7%;
  width: 87%;
  border: none;
}

.aside-plus-button {
  width: 60px;
  height: 60px;
  background-color: #1F1F3D;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  font-size: 5em;
  font-weight: 300;
  border: none;
  line-height: 0;
  cursor: pointer;
  outline: none;
}

.disabled-button {
  background-color: lightblue;
  cursor: not-allowed;
}

.aside-blue-button {
  background-color: #1F1F3D;
  color: #FFFFFF;
  font-size: 172%;
  padding: 2.4% 0;
  border: 2px solid #1F1F3D;
  border-radius: 3px;
  margin: 12px 0px;
  width: 100%;
}

.aside-bottom-section {
  width: 100%;
  padding-top: 5%;
  border-top: 2px solid #3C6577;
  margin-top: 29px;
  padding: 7% 4% 7% 4%;
}
/* need to format plus button more */

main {
  display: flex;
  flex-wrap: wrap;
  background-color: #F3F6F7;
  width: 75%;
  height: 1250px;
  overflow: auto;
}

.main-taskcard-parent-div {
  width: 47%;
  margin: 10px;
  box-sizing: border-box;
}

.main-taskcard {
  width: 100%;
  border: 2px solid #C7D3D8;
  background-color: #FAFDFF;
}

.form-taskcard-header {
  margin: 0px 5px 10px 5px;
  padding: 10px;
  border-bottom: 2px solid #C7D3D8;
  color: #1F1F3D;
}

.main-taskcard-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
}

.form-taskcard-div {
  display: flex;
  align-items: center;
  margin: 15px;
}

.form-taskcard-firsttodo {
  color: #1F1F3D;
}

.form-taskcard-checkimg {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.form-taskcard-todo {
  font-size: 75%;
  color: #3C6577;
}

footer {
  border-top: 2px solid #C7D3D8;
  display: flex;
  justify-content: space-between;
}

.form-footer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
